node_modules/
.git/
.gitignore
.cache/
.firebase/
firebase-debug.log
firebase-debug.*.log
npm-debug.log
.env
.env.local
.env.*.local
dist/
build/
.puppeteerrc.cjs
.vscode/
.DS_Store
.idea/